* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-style: normal;
	color: inherit;
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: OpenSans, arial, sans-serif;
}

.header {
	background-color: #0a0e34;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	padding: 9% 6.25% 25% 6.25%;
}

.header::after {
	content: "";
	background-image: url(../images/football_767.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.1;
	background-color: #080d30;
}

.header-logo-container, .footer-logo-container{
	text-align: center;
}

.header-logo, .footer-logo {
	fill: #fff;
	width: 40%;
}

.header-title-container {
	margin-top: 40%;	
}

.header-title-block {
	font-size: 7vw;
	line-height: 9vw;
}

.header-title, .header-title-description, .footer-title, .footer-title-description {
	display: block;
}

.header-title {
}

.header-title-description {
	padding-top: 5%;
	padding-left: 14%;
}

.header-app-links-container {
	margin-top: 27%;
}

.app-links {
	width: 100%;
	position: relative;
	z-index: 10;
}

.mobile-app-link-button {
	list-style: none;
	width: 100%;
	height: 11vw;
	background-color: #5e42b0;
	border-radius: 10vw;
	font-size: 2.5vw;
	position: relative;	
}

.mobile-app-link-button:hover {
	background-color: #321a77;
}


.bold-text {
	font-weight: 900;
	display: block;
	margin: 0 0 0 12%;
}

.app-icon {
	fill: #fff;
	width: 7.5vw;
	transform: translate(-10%,50%);
}

.button-content {	
	margin: 0 0 0 25%;
	transform: translate(0%,-25%);
}


.app-store-button {

}

.play-market-button {
	margin-top: 5%;
}

.main {
}

.article {
	margin: 7.8vw 0 0 0;
}

.article-title, .article-name {
	font-weight: 900;
	color: #e7e7e7;
	text-transform: uppercase;
}

.article-title {
	font-size: 15vw;
	margin: 0 6.25% 70vw 6.25%;
}

.article {
	position: relative;
}

.article-image {
	width: 50vw;
	position: absolute;
	top: 25vw;
	left: 21.56vw;
}

.article:nth-of-type( 2n ) .article-image {
	width: 80vw;
	top: 25vw;
	left: 12vw;
}

.article-number-name-text {
	padding: 15vw 6.25% 15vw 6.25%;
}

.article-number-name {
	display: flex;
	align-items: center;
}

.articlecle-small-number-container {
	width: 3.5vw;
}

.article-small-number {
	font-weight: 900;
	font-size: 3.5vw;
	text-align: center;
}

.article:nth-of-type( 2n ) .article-small-number {
	color: #785ac9;
}

.article-small-number::after {
	display: block;
	content: "";
	width: 100%;
	height: 0.6vw;
	background-color: #5e42b0;
	border-radius: 30%;
}

.article:nth-of-type( 2n ) .article-growth .article-small-number::after {
	background-color: #fff;
}

.article-name {
	font-size: 6vw;
	margin: 0 0 0 3vw;
}

.article-text, .article2-text {
	font-size: 5vw;
}

.article-number-name-text:nth-of-type(3n - 1) .article-text-container {
	color: #fff;
}

.article-connection {
	background-color: #fafafa;
}

.article-collaboration {
	background-color: #f5f4f9;
}

.article-growth {
	background-color: #5e42b0;
}

.article:nth-of-type( 2n ) .article-growth {
	background-color: #090c35;
}

.article2-image {
	width: 100%;
}

.article2-number-name-text-container {
	position: relative;
}

.article2-number-container {
	width: 20vw;
	height: 20vw;
	background-color: #5e42b0;
	position: absolute;
	top: -23vw;
	left: 5vw;
}
	

.article2-small-number-container {
	color: #f5f6f7;
	font-size: 4vw;
	font-weight: 900;
	width: 4vw;
	margin: 7vw auto;
}

.article2-small-number::after {
	display: block;
	content: "";
	width: 100%;
	height: 0.7vw;
	background-color: #8f7bc8;
	border-radius: 30%;
}

.article2-name-text-container {
	margin: 7vw 6.25% 20vw 6.25%;
}

.article2-name {
	color: #e7e7e7;
	font-weight: 900;
	font-size: 12vw;
	text-transform: uppercase;
}

.footer {
	background-color: #0a0e34;
	position: relative;
	font-family: OpenSans, arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 31% 6.25% 3% 6.25%;
}

.footer::after {
	content: "";
	background-image: url(../images/game_767.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.1;
	background-color: #080d30;
}

.square-logo-container {
	position: relative;
	margin: 0 auto;
	z-index: 10;
	background-color: #5e42b0;
	border-radius: 3vw;
	width: 22%;
}

.square-logo {
	fill: #fff;
	margin: auto;
}

.footer-title-container {
	margin: 18.75% 0 0 0;
	text-align: justify;
}

.footer-app-links-container {
	margin: 23% 0 0 0;
}

.footer-title {
	font-size: 7.5vw;
}

.footer-title-description {
	font-size: 3vw;
	color: #9b8ec1;
}

.footer-logo-container {
	margin: 28% 0 0 0;
}

@media (min-width: 641px) {
	.app-links-list {
		display: flex;
		justify-content: space-between;
	}

	.article-text-container {
	margin: 2vw 0 0 0;
	}

	.article-connection {
		background-color: #fff;
	}
}

@media (min-width: 641px) and (max-width: 960px) {
	.header {
		padding: 5% 8% 12% 8%;
	}

	.header::after {
		content: "";
		background-image: url(../images/football_1280.jpg);
	}
	
	.header-logo {
		width: 27%;
	}
	
	.header-title-container {
		margin-top: 22.5%;
	}

	.header-title-block {
		padding-left: 4.5%;
	}

	.header-title-description {
		padding-top: 2%;
		padding-left: 14%;
	}

	.mobile-app-link-button {
		width: 37vw;
		height: 10vw;
		margin: 0;
		font-size: 1.5vw;
		text-align: left;
	}

	.app-icon {

		fill: #fff;
		width: 5vw;
		transform: translate(-100%,60%);
	}

	.bold-text {
		margin: 0 0 0 18%;
	}

	.button-content {	
		margin: 0 0 0 25%;
		transform: translate(0%,-10%)
	}

	.article {
		margin: 8vw 0 0 0;
	}

	.article-title {
		font-size: 12vw;
		margin: 0 0 0 35vw;
	}

	.article:nth-of-type(2n) .article-title {
		margin: 0 0 0 4vw;
	}

	.article-image {
		width: 55vw;
		top: 7vw;
		left: -15vw;
	}

	.article:nth-of-type(2n) .article-image {
		width: 55vw;
		top: 0;
		left: 44vw;
	}

	.article-number-name-text {
		padding: 3.5vw 5vw 3.5vw 35vw;
	}

	.article:nth-of-type(2n) .article-number-name-text {
		padding: 3.5vw 40vw 3.5vw 4vw;
	}

	.article-small-number {
		font-size: 3vw;
	}

	.article-name {
		font-size: 4vw;
	}

	.article-text, .article2-text {
		font-size: 2.5vw;
	}

	.article2-name-text-container {
	margin: 7vw 4vw 12vw 4vw;
	}

	.footer {
		padding: 16% 5% 2.5% 5%;
	}

	.footer::after {
		content: "";
		background-image: url(../images/game_1280.jpg);
	}

	.footer-title-container {
		margin: 10% 0 0 0;
	}

	.footer-app-links-container {
		margin: 37% 0 0 0;
	}

	.footer-title {
		font-size: 10vw;
	}

	.footer-title-description {
		font-size: 4.5vw;
	}

	.footer-logo-container {
		margin: 6.5% 0 0 0;
	}

}

@media (min-width: 961px) {
	.header {
		padding: 2.5% 10% 5.5% 10%;
	}

	.header::after {
		content: "";
		background-image: url(../images/football_1920.jpg);
	}
	
	.header-logo {
		width: 10%;
	}

	.header-title-container {
		margin-top: 15%;
	}

	.header-title-block {
		padding-left: 0.6%;
		font-size: 3.4vw;
		line-height: 4vw;
	}

	.header-title-description {
		padding-top: 0%;
		padding-left: 20%;
	}

	.header-app-links-container {
		margin-top: 11%;
	}

	.app-links {
		width: 57%;
		margin: 0 auto;
	}

	.mobile-app-link-button {
		width: 20vw;
		height: 5vw;
		margin: 0;
		font-size: 1vw;
		text-align: left;
	}

	.app-icon {

		fill: #fff;
		width: 2.5vw;
		transform: translate(-100%,60%);
	}

	.bold-text {
		margin: 0 0 0 18%;
	}

	.button-content {	
		margin: 0 0 0 25%;
		transform: translate(0%,-10%)
	}

	.article {
		margin: 4vw 0 0 0;
	}

	.article-title {
		font-size: 6vw;
		margin: 0 0 0 50vw;
	}

	.article:nth-of-type(2n) .article-title {
		margin: 0 0 0 10vw;
	}

	.article-image {
		width: 30vw;
		top: -1vw;
		left: 15vw;
	}

	.article:nth-of-type(2n) .article-image {
		width: 48vw;
		top: 0vw;
		left: 40vw;
	}

	.article-number-name-text {
		padding: 1.7vw 7vw 1.7vw 50vw;
	}

	.article:nth-of-type(2n) .article-number-name-text {
		padding: 1.7vw 50vw 1.7vw 10vw;
	}

	.articlecle-small-number-container {
	width: 1.7vw;
	}

	.article-small-number {
		font-size: 1.5vw;
	}

	.article-small-number::after {
	content: "";
	height: 0.3vw;
	}

	.article-name {
		font-size: 2.5vw;
		margin: 0 0 0 1vw;
	}

	.article-text, .article2-text {
		font-size: 1.2vw;
	}

	.article2 {
		display: flex;
		width: 100%
	}

	.article2-picture-container, .article2-number-name-text-container {
		width: 50%;
	}

	.article2-number-container {
		width: 8vw;
		height: 8vw;
		top: 8vw;
		left: -4vw;
	}

	.article2-small-number-container {
	font-size: 1.5vw;
	width: 1.5vw;
	margin: 2.5vw auto;
	}

	.article2-small-number::after {
	height: 0.2vw;
	}

	.article2-name-text-container {
	margin: 9vw 10vw 12vw 6vw;
	}

	.article2-name {
	font-size: 4vw;
	}

	.article2-text {
		font-size: 1.5vw;
	}

	.article2:nth-of-type(2n) .article2-picture-container {
		order: 1;
	}

	.article2:nth-of-type(2n) .article2-number-container {
		top: 8vw;
		left: 45vw;
	}

	.footer {
		padding: 11% 0 2.5% 0;	
	}

	.footer::after {
		content: "";
		background-image: url(../images/game_1920.jpg);
	}

	.footer-title-container {
		margin: auto 0;
	}
	
	.footer-square-logo-container {
		display: flex;
		justify-content: space-between;
		width: 60%;
		margin: 0 auto;
	}

	.square-logo-container {
		width: 11vw;
		border-radius: 2vw;
		margin: 0;
	}

	.footer-title {
		font-size: 5vw;
	}

	.footer-title-description {
		font-size: 2vw;
	}

	.footer-app-links-container {
		width: 78%;
		margin: 8% auto 0 auto;
	}

	.footer-logo {
		width: 9.6%;
	}

	.footer-logo-container {
		margin: 12% 0 0 0;
	}

	
}