* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 900;
  font-style: normal;
}

.header {
	background-color: #0a0e34;
    position: relative;
    font-family: OpenSans, arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 9% 6.25% 25% 6.25%;
}

.header::after {
	content: "";
    background-image: url(../images/football_767.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    background-color: #080d30;
}

.header-logo-container {
	text-align: center;
}

.header-logo {
	fill: #fff;
	width: 40%;
}

.header-title-container {
	padding-top: 40%;	
}

.header-title-block {
	font-size: 7vw;
	line-height: 9vw;
}

.header-title, .header-title-description {
	display: block;
}

.header-title {

}

.header-title-description {
	padding-top: 8.75%;
	padding-left: 14%;
}

.header-app-links {
	padding-top: 27%;
}